.about{

    padding:120px 10%;

    background:#FFFFFF;

}

.about-container{

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:1.2fr .8fr;

    align-items:center;

    gap:80px;

}

.section-title{

    color:#C49B3A;

    font-weight:700;

    letter-spacing:3px;

    font-size:14px;

}

.about h2{

    margin-top:15px;

    margin-bottom:30px;

    font-size:48px;

    color:#163A70;

    line-height:1.2;

}

.about p{

    margin-bottom:22px;

    color:#5F6368;

    font-size:19px;

    line-height:1.8;

}

.about small{

    display:block;

    margin-top:40px;

    color:#8B8B8B;

    font-size:15px;

}

.about-image{

    display:flex;

    justify-content:center;

}

.about-image img{

    width:380px;

}

@media (max-width: 900px) {
    .about{
        padding:70px 6%;
    }
    .about-container{
        grid-template-columns:1fr;
        gap:40px;
        text-align:center;
    }
    .about h2{
        font-size:30px;
    }
    .about p{
        font-size:16px;
    }
    .about-image{
        order:-1;
    }
    .about-image img{
        width:260px;
    }
}